In [1]:
import pandas as pd
from pathlib import Path

# Diretórios base
PROJECT_DIR = Path(".").resolve().parents[0] # Isso serve para subir um nível da pasta e chegar na raiz do projeto
NOTEBOOKS_DIR = PROJECT_DIR / "notebooks"
DATA_PROCESSED_OLIST_DIR = PROJECT_DIR / "data" / "processed" / "olist"
DATA_RAW_OLIST_DIR = PROJECT_DIR / "data" / "raw" / "olist"

PROJECT_DIR, NOTEBOOKS_DIR, DATA_PROCESSED_OLIST_DIR, DATA_RAW_OLIST_DIR

(WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/notebooks'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/raw/olist'))

In [2]:
orders = pd.read_csv(DATA_RAW_OLIST_DIR / "olist_orders_dataset.csv")
customers = pd.read_csv(DATA_RAW_OLIST_DIR / "olist_customers_dataset.csv")
order_items = pd.read_csv(DATA_RAW_OLIST_DIR / "olist_order_items_dataset.csv")
payments = pd.read_csv(DATA_RAW_OLIST_DIR / "olist_order_payments_dataset.csv")
products = pd.read_csv(DATA_RAW_OLIST_DIR / "olist_products_dataset.csv")

In [3]:
print(orders.shape)
print(orders.info())
orders.head()

(99441, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [4]:
print(customers.shape)
customers.head()

(99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
print(order_items.shape)
order_items.head()

(112650, 7)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [6]:
print(payments.shape)
payments.head()

(103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
print(products.shape)
products.head()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [8]:
list_columns_datetime = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in list_columns_datetime:
    orders[col] = pd.to_datetime(orders[col], errors="coerce")

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [10]:
list_columns_str = [
    "order_id",
    "customer_id",
    "order_status"
]

for col in list_columns_str:
    orders[col] = orders[col].astype(str)

In [11]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [12]:
list_customers_str = [
    "customer_id",
    "customer_unique_id",
    "customer_city",
    "customer_state",
    "customer_zip_code_prefix"
]

for col in list_customers_str:
    customers[col] = customers[col].astype(str)

In [13]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [14]:
list_order_items_str = [
    "order_id",
    "product_id",
    "seller_id"
]

for col in list_order_items_str:
    order_items[col] = order_items[col].astype(str)


list_order_items_float = [
    "price",
    "freight_value"
]

for col in list_order_items_float:
    order_items[col] = order_items[col].astype(float)


order_items["shipping_limit_date"] = pd.to_datetime(order_items["shipping_limit_date"], errors="coerce")

In [15]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [16]:
list_payments_str = [
    "order_id",
    "payment_type"
]

for col in list_payments_str:
    payments[col] = payments[col].astype(str)


list_payments_int = [
    "payment_sequential",
    "payment_installments"
]

for col in list_payments_int:
    payments[col] = payments[col].astype(int)


payments["payment_value"] = payments["payment_value"].astype(float)

In [17]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [18]:
list_products_str = [
    "product_id",
    "product_category_name"
]

for col in list_products_str:
    products[col] = products[col].astype(str)

list_products_float = [
    "product_weight_g",
    "product_length_cm",
    "product_height_cm",
    "product_width_cm"
]

for col in list_products_float:
    products[col] = products[col].astype(float)

In [19]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32951 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [20]:
print("ORDERS")
print("linhas:", len(orders))
print("order_id únicos:", orders["order_id"].nunique())
print()

print("CUSTOMERS")
print("linhas:", len(customers))
print("customer_id únicos:", customers["customer_id"].nunique())
print()

print("PRODUCTS")
print("linhas:", len(products))
print("product_id únicos:", products["product_id"].nunique())

ORDERS
linhas: 99441
order_id únicos: 99441

CUSTOMERS
linhas: 99441
customer_id únicos: 99441

PRODUCTS
linhas: 32951
product_id únicos: 32951

In [21]:
print("orders -> customers (customer_id)")
mask_orders_customers = orders["customer_id"].isin(customers["customer_id"])
print("  total orders:", len(orders))
print("  customer_id que NÃO estão em customers:", (~mask_orders_customers).sum())
print()

print("order_items -> orders (order_id)")
mask_items_orders = order_items["order_id"].isin(orders["order_id"])
print("  total order_items:", len(order_items))
print("  order_id que NÃO estão em orders:", (~mask_items_orders).sum())
print()

print("payments -> orders (order_id)")
mask_payments_orders = payments["order_id"].isin(orders["order_id"])
print("  total payments:", len(payments))
print("  order_id que NÃO estão em orders:", (~mask_payments_orders).sum())
print()

print("order_items -> products (product_id)")
mask_items_products = order_items["product_id"].isin(products["product_id"])
print("  total order_items:", len(order_items))
print("  product_id que NÃO estão em products:", (~mask_items_products).sum())

orders -> customers (customer_id)
  total orders: 99441
  customer_id que NÃO estão em customers: 0

order_items -> orders (order_id)
  total order_items: 112650
  order_id que NÃO estão em orders: 0

payments -> orders (order_id)
  total payments: 103886
  order_id que NÃO estão em orders: 0

order_items -> products (product_id)
  total order_items: 112650
  product_id que NÃO estão em products: 0

In [22]:
print("MISSING – ORDERS")
print(orders.isna().sum())
print("-" * 40)

print("MISSING – CUSTOMERS")
print(customers.isna().sum())
print("-" * 40)

print("MISSING – ORDER_ITEMS")
print(order_items.isna().sum())
print("-" * 40)

print("MISSING – PAYMENTS")
print(payments.isna().sum())
print("-" * 40)

print("MISSING – PRODUCTS")
print(products.isna().sum())

MISSING – ORDERS
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
----------------------------------------
MISSING – CUSTOMERS
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
----------------------------------------
MISSING – ORDER_ITEMS
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
----------------------------------------
MISSING – PAYMENTS
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
----------------------------------------
MISSING – PRODUCTS
product_id                      0
product_category_name           0
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [23]:
DATA_PROCESSED_OLIST_DIR.mkdir(parents=True, exist_ok=True)
DATA_PROCESSED_OLIST_DIR

WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist')

In [24]:
tables = {
    "orders": orders,
    "customers": customers,
    "order_items": order_items,
    "payments": payments,
    "products": products,
}

for name, df in tables.items():
    output_path = DATA_PROCESSED_OLIST_DIR / f"{name}.parquet"
    print(f"Salvando {name} em {output_path}")
    df.to_parquet(output_path, index=False)

print("Concluído.")

Salvando orders em C:\Enterprises\projects\ecommerce-demand-forecasting-3d-analytics\data\processed\olist\orders.parquet
Salvando customers em C:\Enterprises\projects\ecommerce-demand-forecasting-3d-analytics\data\processed\olist\customers.parquet
Salvando order_items em C:\Enterprises\projects\ecommerce-demand-forecasting-3d-analytics\data\processed\olist\order_items.parquet
Salvando payments em C:\Enterprises\projects\ecommerce-demand-forecasting-3d-analytics\data\processed\olist\payments.parquet
Salvando products em C:\Enterprises\projects\ecommerce-demand-forecasting-3d-analytics\data\processed\olist\products.parquet
Concluído.

In [25]:
list(DATA_PROCESSED_OLIST_DIR.glob("*.parquet"))

[WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist/customers.parquet'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist/orders.parquet'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist/order_items.parquet'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist/payments.parquet'),
 WindowsPath('C:/Enterprises/projects/ecommerce-demand-forecasting-3d-analytics/data/processed/olist/products.parquet')]

## ETL v0 – Olist (Resumo)

- [x] Leitura dos CSVs brutos a partir de `data/raw/olist`
- [x] Ajuste de tipos:
  - Datas (`orders`, `order_items`)
  - IDs e chaves (`orders`, `customers`, `order_items`, `payments`, `products`)
  - Valores monetários e medidas (`order_items`, `payments`, `products`)
- [x] Checks básicos de consistência:
  - Cardinalidade e chaves principais
  - Relações entre tabelas (FKs batendo)
  - Visão geral de missing values
- [x] Export para Parquet em `data/processed/olist` (5 tabelas)

### TODO para ETL v1

- [ ] Tratar missing em colunas críticas (datas de entrega, valores, etc.)
- [ ] Investigar chaves que não batem entre tabelas (se houver)
- [ ] Criar tabela única agregada para modelagem de demanda